section
  h2 Initiation aux langage web
    small Votre formateur
  pre
    ul#fragments
      li.fragment.fade-in Nom : OUALI
      li.fragment.fade-in Prenom: Aghiles Massinissa
      li.fragment.fade-in Metier : Webdesigner / depuis 5 ans
      li.fragment.fade-in Etude: ingenieur en Génie mecanique / Informatique
      li.fragment.fade-in Outils Utilisers :
        ul
          li.fragment.fade-in.highlight-red HTML CSS JavaScript
          li.fragment.fade-in.highlight-red PUG SASS Jquery
          li.fragment.fade-in.highlight-red Photoshop Illustrator
          li.fragment.fade-in.highlight-red Script D'automatisation


