section
    h3 Ce qui va être vu dans cettre formation
    p.fragment Introduction à la definition d'internet et du web
    p.fragment.fade-down Historique 
      span.fragment.highlight-red HTML 
      span.fragment.highlight-blue CSS 
      span.fragment.highlight-red JS
    pre.fragment.fade-in 
      h5 Les Indispensables
      p
        ul.fragment.fade-down
          li Outils nécessaires 
          li ( Editeur de texte // Navigateur )
    pre.fragment.fade-in  
      
      h5.fragment.fade-down 
        | Outils coneiller 
      p
        ul.fragment.fade-down
          span.fragment les Editeurs
          li.fragment VScode
          li.fragment Atom 
          li.fragment SublimeText 
        ul 
          span.fragment les Navigateurs
          li.fragment chrome 
          li.fragment firefox 