doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title reveal.js
    link(rel='stylesheet', href='assets/styles/reveal.css')
    link(rel='stylesheet', href='assets/styles/theme/black.css')
    // Theme used for syntax highlighting of code
    link(rel='stylesheet', href='assets/lib/css/zenburn.css')
    // Printing and PDF exports
    script.
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'assets/styles/print/pdf.css' : 'assets/styles/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
  body
    .reveal
      .slides
        include slides/Presentation
        include slides/sommaire
        include slides/lesBases
    script(src='assets/lib/js/head.min.js')
    script(src='assets/scripts/reveal.js')
    script.
      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        transition: 'slide', // none/fade/slide/convex/concave/zoom
        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
          { src: 'assets/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'assets/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'assets/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'assets/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'assets/plugin/search/search.js', async: true },
          { src: 'assets/plugin/zoom-js/zoom.js', async: true },
          { src: 'assets/plugin/notes/notes.js', async: true }
        ]
      })
